.about-container {
  /* background-image: url(../../app/assets/about-headshot6.jpeg); */
  background-image: linear-gradient(180deg, #8b6f7c, white);
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
  /* object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; */
}

.image-col {
  width: 800px;
}

.about-image {
  width: 100%;
  box-shadow: 10 10 5 #000000;
}

.bio-col {
}

.about-box {
  position: absolute;
  top: 80px;
  left: 50px;
  border: 5px solid #ffffff;
  padding: 20px;
}

.about-box h1 {
  color: #ffffff;
  font-family: "beloved-sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 80px;
  letter-spacing: 5px;
  text-align: left;
}

.col {
  color: #000000;
  flex: 1;
  line-height: 32px;
}

.center-col {
  padding: 10px;
  height: 100%;
  flex-grow: 1;
}

.about-text-left {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 50px;
  margin-top: 150px;
}

.about-text-right {
  text-align: right;
  margin-right: 50px;
  height: 100%;
  padding-top: 50px;
}

#about-1 {
  margin-bottom: 20px;
}

#about-2 {
  margin-right: 100px;
}

#about-3 {
  margin-bottom: 20px;
}

#about-4 {
  margin-left: 110px;
}

/* .resume-button {
  display: inline-block;
  font-size: 1.2em;
  padding: 1.2em 1.5em;
  font-family: Gill Sans, "Gill Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 3em;
  border: solid 2px #ffffff;
  color: #ffffff;
  border-radius: 0.4em;
  transition: all 0.3s linear;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-name: pulse;
}

.resume-button:hover {
  color: #ffffff;
  background: pink;
  animation: none;
} */

/* @keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
    box-shadow: 0px 0px 5px 0px blue;
  }

  100% {
    opacity: 1;
    box-shadow: none;
  }
} */
