.contact-container {
  width: 100%;
}

.contact-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

.contact-banner h1 {
  font-family: "beloved-sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 80px;
  letter-spacing: 5px;
  text-align: center;
}

.contact-content-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 50%;
}

.contact-info {
  text-align: left;
  padding-right: 20px;
}

.contact-info h2 {
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  margin-bottom: 20px;
}

.contact-info p {
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.resume-button {
  margin-left: 5px;
}

.resume-button,
.email-button {
  align-items: center;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  font-family: Times, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.resume-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.email-button:hover {
  background-color: #000000;
  color: #ffffff;
}

@media (min-width: 768px) {
  .resume-button,
  .email-button {
    min-width: 170px;
  }
}
