/* For when I want a video hero */
/* video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
} */

.hero-text h1 {
  color: #ffffff;
  font-family: "beloved-sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 80px;
  letter-spacing: 5px;
  text-align: center;
}

#last-name {
  font-size: 65px;
}

.hero-container {
  background-image: url(../app/assets/IWHeadshot.jpg);
  height: 120vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 2px;
}

.hero-text {
  position: absolute;
  top: 150px;
  left: 300px;
}

.hero-subtext {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}

.subtext {
  font-family: "warnock-pro", serif;
  font-weight: 400;
  font-style: italic;
}

.slide-text-1 h1 {
  animation: fadeInRight 4.5s ease-in-out;
}

.slide-text-2 {
  animation: fadeIn 4.5s ease-in-out;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
